{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Todo List App{% endblock %}</title>
    <link href="{% static 'to_do_list_app/css/tailwind_daisyui_input_min.css' %}" rel="stylesheet">
    <link href="{% static 'to_do_list_app/css/theme-changer-daisy-ui.css' %}" rel="stylesheet">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>  {# https://django-htmx.readthedocs.io/en/latest/tips.html #}
<div class="daisyui-mt-4 btn">
    <a href="{% url 'main_portfolio_presentation_cv_home' %}" class="daisy-btn daisy-btn-primary">
        Back to Main Portfolio
    </a>
</div>
<div class="daisyui-mt-4 btn">
    <label>
        <select data-choose-theme>
            <option value="dark">dark</option>
            <option value="light">light</option>
            <option value="cupcake">cupcake</option>
        </select>
    </label>
</div>
<div class="mt-4">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'htmx/htmx.min.js' %}"></script>
<script src="{% static 'to_do_list_app/js/theme-changer-daisy-ui.js' %}"></script>
</body>
</html>